/* Main container */
.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

/* Note wrapper */
.note-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Note header */
.note-header {
  width: 85vw;
  margin-bottom: 0px;
  padding-bottom: 25.5px;
  padding-top: 20px;
}

.note-header-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-sidebar-bg);
  border-radius: 0.6rem;
  padding: 4.5px;
}

.note-logo {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  gap: 0.4rem;
  background-color: var(--color-icon-primary);
  padding: 8px 14px;
  border-radius: 0.4rem;
}

.note-logo p {
  font-size: 0.55rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  color: var(--color-text-primary);
}

.note-icons {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 0.15rem;
  padding: 2.5px 2.7px;
  background-color: var(--color-icon-primary);
  border-radius: 0.4rem;
}

.note-icons > * {
  padding: 5px;
  background: var(--color-folder-regular-bg);
  border: 1px solid var(--color-folder-border);
  border-radius: 0.3rem;
  cursor: pointer;
}

.note-icons > *:hover {
  background-color: var(--color-sidebar-bg);
}

.note-icons .note-header-svg {
  width: 9.5px;
  height: 9.5px;
  display: block;
  color: var(--color-text-secondary);
  cursor: pointer;
}

/* Note body */
.note-body {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 25px;
}

.note {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
}

.note-img {
  position: relative;
  width: 100%;
  max-width: 220px;
}

.note-img img {
  width: 100%;
  height: auto;
  display: block;
}

.note-overlay-text {
  position: absolute;
  bottom: 30px;
  left: 16%;
  font-size: 0.55rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 1.6;
  pointer-events: none;
}

.note-white .note-overlay-text {
  color: var(--color-surface-primary);
}

.note-black .note-overlay-text {
  color: var(--color-text-primary);
}

.note-overlay-text svg {
  margin-bottom: 0.2rem;
}

.note-white .note-overlay-text svg {
  color: var(--color-surface-accent);
}

.note-black .note-overlay-text svg {
  color: var(--color-text-accent);
}

.note-main {
  padding: 0 8px;
  min-height: 20px;
}

.note-title {
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: var(--color-text-primary);
  margin-bottom: 0.3rem;
}

.note-text {
  font-size: 0.55rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: var(--color-text-accent);
}

@media (max-width: 600px) {
  /* Note body */
  .note-body {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .note-img {
    max-width: 380px;
  }

  .note-overlay-text {
    bottom: 32px;
  }
}

@media (max-width: 480px) {
  /* Note body */
  .note-overlay-text {
    bottom: 25px;
  }
}

@media (max-width: 768px) {
  /* Note header */
  .note-header {
    width: 100vw;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 20px;
  }

  /* Note body */
  .note-overlay-text {
    font-size: 0.6rem;
  }

  .note-title {
    font-size: 0.65rem;
    margin-bottom: 0.2rem;
  }

  .note-text {
    font-size: 0.6rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* Note body */
  .note-body {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  .note-img {
    max-width: 280px;
  }

  .note-overlay-text {
    bottom: 33px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Note header */
  .note-header {
    width: 80vw;
  }
}

@media (max-width: 1024px) {
  /* Note header */
  .note-header-wrapper {
    width: 90%;
  }

  /* Note body */
  .note-body {
    width: 90%;
  }

  .note-main {
    padding: 0 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Note header */
  .note-header {
    width: 83vw;
  }

  /* Note body */
  .note-body {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  .note-overlay-text {
    bottom: 33px;
  }
}

@media (min-width: 1201px) and (max-width: 1280px) {
  /* Note body */
  .note-body {
    grid-template-columns: repeat(6, 1fr);
  }
}
