/* Note header */
.note-header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.note-header-svg {
  width: 20px;
  height: 20px;
}

.note-logo {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  gap: 0.5rem;
}

.note-logo p {
  font-size: 0.9rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.note-icons {
  color: var(--color-text-primary);
  display: flex;
  gap: 1rem;
}

.note-hr {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color-text-accent);
  margin-bottom: 10px;
}

.note-hr .line {
  flex-grow: 1;
  height: 0.5px;
  background-color: var(--color-text-accent);
  margin: 0 -12px;
}

.note-hr i {
  font-size: 1.2rem;
}

/* Note wrapper */
.note-wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Note body */
.note-body {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
}

.note {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
}

.note-img {
  position: relative;
  width: 100%;
  max-width: 200px;
}

.note-img img {
  width: 100%;
  height: auto;
  display: block;
}

.note-overlay-text {
  position: absolute;
  bottom: 35px;
  left: 16%;
  font-size: 0.75rem;
  font-weight: 650;
  letter-spacing: 0.4px;
  line-height: 1.6;
  pointer-events: none;
}

.note-white .note-overlay-text {
  color: var(--color-text-secondary);
}

.note-black .note-overlay-text {
  color: var(--color-text-primary);
}

.note-overlay-text svg {
  margin-bottom: 0.15rem;
}

.note-white .note-overlay-text svg {
  color: var(--color-text-primary);
}

.note-black .note-overlay-text svg {
  color: var(--color-text-accent);
}

.note-main {
  padding: 0 8px;
  min-height: 20px;
}

.note-title {
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: var(--color-text-primary);
  margin-bottom: 0.4rem;
}

.note-text {
  font-size: 0.65rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 1.6;
  color: var(--color-text-accent);
}

@media (max-width: 480px) {
  /* Note header */
  .note-header {
    padding-top: 20px;
    margin-bottom: 15px;
  }

  .note-logo p {
    font-size: 0.95rem;
  }

  /* Note body */
  .note-overlay-text {
    font-size: 0.9rem;
    bottom: 37px;
  }

  .note-main {
    padding: 0 10px;
  }

  .note-title {
    font-size: 0.95rem;
    margin-bottom: 0.3rem;
  }

  .note-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  /* Note header */
  .note-header {
    padding-top: 25px;
  }

  .note-logo p {
    font-size: 1rem;
  }

  /* Note body */
  .note-overlay-text {
    font-size: 0.95rem;
    bottom: 47px;
  }

  .note-main {
    padding: 0 15px;
  }

  .note-title {
    font-size: 1.05rem;
  }

  .note-text {
    font-size: 0.85rem;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  /* Note header */
  .note-header {
    padding-top: 30px;
  }

  .note-logo p {
    font-size: 1.05rem;
  }

  /* Note body */
  .note-overlay-text {
    font-size: 1rem;
    bottom: 59px;
  }

  .note-main {
    padding: 0 20px;
  }

  .note-title {
    font-size: 1.1rem;
  }

  .note-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  /* Note header */
  .note-header {
    width: 93%;
  }

  /* Note body */
  .note-body {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .note-img {
    max-width: 360px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Note header */
  .note-logo p {
    font-size: 0.85rem;
  }

  /* Note body */
  .note-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  .note-img {
    max-width: 240px;
  }

  .note-main {
    padding: 0 10px;
  }

  .note-overlay-text {
    font-size: 0.8rem;
    bottom: 39px;
  }

  .note-title {
    font-size: 0.9rem;
  }

  .note-text {
    font-size: 0.7rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Note body */
  .note-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
  }
}

@media (min-width: 1201px) and (max-width: 1280px) {
  /* Note body */
  .note-body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 45px;
  }
}
