/* Tasks container */
.tasks-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  height: auto;
  border-radius: 0.5rem;
}

/* Tasks wrapper */
.tasks-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Tasks header */
.tasks-header {
  position: fixed;
  z-index: 10;
  width: 85vw;
  padding-top: 20px;
}

.tasks-header-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.6rem;
  padding: 4px 4.5px;
}

/* Tasks logo */
.tasks-logo {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  gap: 0.4rem;
  background: var(--bg-secondary);
  padding: 7px 12px;
  border-radius: 0.4rem;
  border: 0.5px solid var(--border-primary);
}

.tasks-logo p {
  font-size: 0.56rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

/* Tasks icons */
.tasks-icons {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 0.2rem;
  padding: 3px;
  background: var(--bg-secondary);
  border-radius: 0.4rem;
  border: 0.5px solid var(--border-primary);
}

.tasks-icons > * {
  padding: 4.5px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.3rem;
  cursor: pointer;
}

.tasks-icons > *:hover {
  background: var(--bg-secondary);
}

/* Theme toggle */
.theme-toggle {
  width: 19px;
  height: 19px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-slider {
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
}

.theme-slider.light {
  transform: translateY(9.5px);
}

.theme-slider.dark {
  transform: translateY(-9.5px);
}

.theme-icon {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-light-svg {
  width: 12px;
  height: 12px;
  display: block;
}

.theme-dark-svg {
  width: 9.5px;
  height: 9.5px;
  display: block;
}

.theme-light-svg path,
.theme-dark-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-primary);
}

/* Tasks body */
.tasks-body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 105px;
}

.tasks-body-main {
  margin-top: 15px;
}

/* Tasks body header */
.tasks-body-header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -15px;
  margin-bottom: 10px;
}

/* Tasks left - icon */
.tasks-left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.tasks-left .tasks-icon {
  display: flex;
  align-items: center;
  padding: 4.5px 5px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.3rem;
}

.tasks-icon .tasks-icon-svg {
  width: 10px;
  height: 10px;
}

.tasks-icon .tasks-icon-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-secondary);
}

/* Tasks right */
.tasks-right {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

/* Tasks right - toggle */
.tasks-toggle {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: fit-content;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  color: var(--text-secondary);
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 4.5px 5.5px;
}

.tasks-toggle p {
  font-size: 0.5rem;
  font-weight: 550;
  letter-spacing: 0.6px;
}

/* Tasks right - icons */
.tasks-right .tasks-search,
.tasks-right .tasks-menu {
  display: flex;
  align-items: center;
  padding: 4.5px 5px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
}

.tasks-search .tasks-search-svg,
.tasks-menu .tasks-menu-svg,
.tasks-toggle .tasks-toggle-svg {
  width: 10px;
  height: 10px;
  display: block;
}

.tasks-search .tasks-search-svg path,
.tasks-menu .tasks-menu-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-secondary);
}

/* Tasks dropdown menu */
.tasks-dropdown-menu {
  position: absolute;
  top: 20%;
  right: 84px;
  margin-top: 5px;
  z-index: 100;
  width: max-content;
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.35rem;
  padding: 3px;
  font-size: 0.46rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: var(--text-primary);
  width: 74px;
  transition: height 0.3s ease;
}

.tasks-dropdown-menu .tasks-dropdown-item {
  margin: 0;
  padding: 3px 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.tasks-dropdown-menu .tasks-dropdown-item:hover {
  background: var(--bg-primary);
  border-radius: 0.25rem;
  border: 0.5px solid var(--border-primary);
}

/* Tasks main */
.tasks-main {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 15px;
}

.tasks-section {
  padding: 5px;
  border-radius: 0.5rem;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
}

/* Tasks main header */
.tasks-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.tasks-header-left,
.tasks-header-right {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.tasks-header-name {
  font-size: 0.52rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  color: var(--text-primary);
}

.tasks-header-text {
  color: var(--text-primary);
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.4rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  padding: 0.75px 2.5px 1px 2.5px;
}

/* Tasks icons - plus & menu */
.tasks-plus,
.tasks-menu {
  display: flex;
  align-items: center;
  padding: 2px 2.5px 2px 2px;
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.2rem;
  cursor: pointer;
}

.tasks-plus:hover,
.tasks-menu:hover {
  background: var(--bg-primary);
}

.tasks-plus .tasks-plus-svg,
.tasks-menu .tasks-menu-svg {
  width: 8px;
  height: 8px;
  display: block;
}

.tasks-plus .tasks-plus-svg path,
.tasks-menu .tasks-menu-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-secondary);
}

/* Tasks popup overlay */
.tasks-popup-overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.tasks-popup {
  width: 360px;
  margin: 0 auto;
}

.tasks-popup-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Tasks popup top */
.tasks-popup-priority {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 120px;
  margin: 0 auto;
  padding: 1.5px;
  border: 0.5px solid var(--border-primary);
  border-radius: 0.6rem;
  background: var(--bg-primary);
  gap: 0.4rem;
  padding-left: 2px;
}

.tasks-priority-option {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.priority-option {
  width: fit-content;
  color: var(--text-secondary);
  padding: 2.5px 5px;
}

.tasks-popup-priority p {
  font-size: 0.45rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  color: var(--text-primary);
}

.slider {
  position: absolute;
  top: 0;
  top: 1px;
  height: 14.5px;
  width: 100%;
  transition: left 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.ball {
  height: 100%;
  width: 100%;
  background: var(--bg-secondary);
  border-radius: 0.5rem;
  border: 0.5px solid var(--border-primary);
}

.ball-low {
  left: 0.5%;
  position: absolute;
  width: 32px;
}

.ball-medium {
  left: 29.5%;
  position: absolute;
  width: 45px;
}

.ball-high {
  left: 70.5%;
  position: absolute;
  width: 34px;
}

/* Tasks popup middle */
.tasks-popup-middle {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  gap: 20px;
}

.tasks-popup-middle-wrapper {
  width: calc(360px / 3);
}

.popup-middle-slider {
  display: flex;
  width: 300%;
  transition: transform 0.4s ease;
  touch-action: pan-y;
}

.middle-slider-page {
  width: 100%;
  flex-shrink: 0;
}

.tasks-popup-text {
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.45rem;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.popup-text-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 6px 7.5px 6px;
}

.popup-text-header p {
  font-size: 0.45rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  color: var(--text-primary);
}

.popup-text-header-icons {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.popup-text-header-svg {
  width: 9.5px;
  height: 9.5px;
  display: block;
  cursor: pointer;
}

.popup-text-header-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-primary);
}

.tasks-popup-text .popup-text-contents {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.35rem;
  padding: 6px 5px 6px 5px;
}

.tasks-popup-text .middle-slider-list .popup-text-contents {
  height: 32px;
}

.tasks-popup-text .popup-text-contents-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.popup-text-input,
.popup-text-input-p,
.popup-text-item p {
  font-size: 0.47rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  color: var(--text-primary);
  opacity: 0.9;
  padding: 5px;
}

.popup-text-input {
  font-weight: 500;
  display: block;
  border: none;
  background: transparent;
  outline: none;
}

.add-task-block {
  cursor: pointer;
}

.popup-text-footer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding-left: 3px;
}

.text-footer-svg {
  width: 6.5px;
  height: 6.5px;
  color: var(--text-secondary);
}

.popup-text-footer p {
  font-size: 0.4rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: var(--text-secondary);
}

/* Tasks popup bottom */
.tasks-popup-bottom {
  padding: 2px;
  width: fit-content;
  margin: 0 auto;
}

.tasks-slider-dots {
  display: flex;
  justify-content: center;
}

.tasks-slider-dots .dot {
  width: 4px;
  height: 4px;
  margin: 0 4px;
  border-radius: 50%;
  background: var(--text-secondary);
  cursor: pointer;
  transition: background 0.3s;
}

.tasks-slider-dots .dot.active {
  background: var(--text-primary);
}

.tasks-slider-button {
  width: 120px;
  margin: 0 auto;
  padding-top: 200px;
  padding: 1.5px;
  border: 0.5px solid var(--border-primary);
  border-radius: 0.6rem;
  background: var(--bg-primary);
  cursor: pointer;
}

.tasks-slider-button p {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid var(--border-primary);
  border-radius: 0.5rem;
  background: var(--bg-secondary);
  font-size: 0.45rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  color: var(--text-primary);
  padding: 4px;
}

/* Tasks dropdown options */
.tasks-dropdown-options {
  position: absolute;
  top: 100%;
  right: -5px;
  margin-top: 5px;
  z-index: 100;
  width: max-content;
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.35rem;
  padding: 3px;
  font-size: 0.46rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: var(--text-primary);
  overflow: hidden;
  width: 90px;
  transition: height 0.3s ease;
}

.tasks-dropdown-options .tasks-dropdown-item {
  margin: 0;
  padding: 3px 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.tasks-dropdown-options .tasks-dropdown-item:hover {
  background: var(--bg-primary);
  border-radius: 0.25rem;
  border: 0.5px solid var(--border-primary);
}

.tasks-dropdown-item-icon {
  padding: 1.5px 2px 1.5px 1.5px;
  cursor: pointer;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.2rem;
  width: fit-content;
  margin-left: auto;
  margin-top: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.tasks-dropdown-item-icon-svg {
  width: 8px;
  height: 8px;
  display: block;
  color: var(--text-secondary);
}

/* Tasks body list */
.tasks-body-list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 12px;
  padding: 10px;
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.5rem;
  letter-spacing: 0.6px;
  line-height: 1.6;
  cursor: pointer;
}

.tasks-body-list.selected {
  background: var(--bg-primary);
}

/* Tasks list top */
.tasks-list-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tasks-list-toggle-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.tasks-list-toggle {
  width: fit-content;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  color: var(--text-secondary);
  border-radius: 0.25rem;
  padding: 1.5px 5px;
}

.tasks-list-toggle p {
  font-size: 0.42rem;
  font-weight: 550;
}

.select-task-check {
  padding: 1.5px 2px 1.5px 1.5px;
  cursor: pointer;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.2rem;
}

.check-task-icon.selected {
  background: var(--bg-secondary);
}

.check-task-icon {
  width: 8px;
  height: 8px;
  display: block;
  color: var(--text-secondary);
}

/* Tasks list middle */
.tasks-list-middle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tasks-list-header {
  color: var(--text-primary);
  font-size: 0.52rem;
  font-weight: 600;
}

.tasks-list-text {
  color: var(--text-secondary);
  font-size: 0.48rem;
  font-weight: 550;
}

.tasks-list-checks ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.tasks-list-checks ul li {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.tasks-list-checks-svg {
  width: 8px;
  height: 8px;
  color: var(--text-primary);
}

.tasks-list-checks {
  color: var(--text-primary);
  font-size: 0.46rem;
  font-weight: 500;
}

.subtask-done {
  color: var(--text-secondary);
  opacity: 0.8;
}

.tasks-list-progress {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tasks-progress-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-progress-top p {
  color: var(--text-secondary);
  font-size: 0.44rem;
  font-weight: 500;
}

.tasks-list-date {
  display: flex;
  align-items: center;
  gap: 0.15rem;
}

.tasks-list-date-svg {
  width: 8px;
  height: 8px;
}

.tasks-list-date-svg path {
  fill: var(--bg-primary);
  stroke: var(--text-secondary);
}

.tasks-progress-bar {
  height: 3px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.5rem;
  overflow: hidden;
}

.tasks-progress-fill {
  height: 3px;
  background: var(--border-primary);
  border: 0.5px solid var(--border-primary);
  transition: width 0.3s ease;
}
