/* All Folders */
.all-folders {
  width: 94%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.all-folder {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
  background-color: var(--color-surface-secondary);
  border-radius: 0.5rem;
  letter-spacing: 0.6px;
  max-width: 220px;
}

.all-folder:hover {
  background-color: var(--color-surface-primary);
  border: 0.5px solid var(--color-border);
  cursor: pointer;
}

.all-folder .all-folder-icon {
  width: 25px;
  height: 25px;
  color: var(--color-surface-accent);
  margin-bottom: 20px;
}

.all-folder .all-folder-name {
  font-size: 0.65rem;
  font-weight: 550;
  color: var(--color-text-primary);
  margin-bottom: 10px;
}

.all-folder .all-folder-text {
  color: var(--color-surface-accent);
  font-size: 0.55rem;
  font-weight: 500;
}

@media (max-width: 480px) {
  /* All Folders */
  .all-folders {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  /* All Folders */
  .all-folders {
    gap: 15px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  /* All Folders */
  .all-folders {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  /* All Folders */
  .all-folders {
    width: 90%;
  }
}
