/* Note container */
.note-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 90px;
}

/* Note body */
.note-body {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.note {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
}

.note-main {
  display: flex;
  flex-direction: column;
}

.note-img {
  max-width: 135px;
}

.note-img img {
  width: 100%;
  height: auto;
  display: block;
}

.note-details {
  padding: 0 5px;
  letter-spacing: 0.6px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.note-title {
  font-size: 0.53rem;
  font-weight: 600;
  color: var(--text-primary);
}

.note-text {
  font-size: 0.5rem;
  font-weight: 500;
  color: var(--text-secondary);
}

@media (max-width: 600px) {
  /* Note body */
  .note-body {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .note-img {
    max-width: 380px;
  }

  .note-overlay-text {
    bottom: 32px;
  }
}

@media (max-width: 480px) {
  /* Note body */
  .note-overlay-text {
    bottom: 25px;
  }
}

@media (max-width: 768px) {
  /* Note header */
  .note-header {
    width: 100vw;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 20px;
  }

  /* Note body */
  .note-overlay-text {
    font-size: 0.6rem;
  }

  .note-title {
    font-size: 0.65rem;
    margin-bottom: 0.2rem;
  }

  .note-text {
    font-size: 0.6rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* Note body */
  .note-body {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  .note-img {
    max-width: 280px;
  }

  .note-overlay-text {
    bottom: 33px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Note header */
  .note-header {
    width: 78vw;
  }
}

@media (max-width: 1024px) {
  /* Note header */
  .note-header-wrapper {
    width: 90%;
  }

  /* Note body */
  .note-body {
    width: 90%;
  }

  .note-main {
    padding: 0 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Note header */
  .note-header {
    width: 80vw;
  }

  /* Note body */
  .note-body {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}


