/* Note container */
.note-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  height: auto;
  border-radius: 0.5rem;
}

/* Note wrapper */
.note-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Note header */
.note-header {
  position: fixed;
  z-index: 10;
  width: 85vw;
  padding-top: 20px;
}

.note-header-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.6rem;
  padding: 4px 4.5px;
}

/* Note logo */
.note-logo {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  gap: 0.4rem;
  background: var(--bg-secondary);
  padding: 7px 12px;
  border-radius: 0.4rem;
  border: 0.5px solid var(--border-primary);
}

.note-logo p {
  font-size: 0.56rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

/* Note icons */
.note-icons {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 0.2rem;
  padding: 3px;
  background: var(--bg-secondary);
  border-radius: 0.4rem;
  border: 0.5px solid var(--border-primary);
}

.note-icons > * {
  padding: 4.5px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.3rem;
  cursor: pointer;
}

.note-icons > *:hover {
  background: var(--bg-secondary);
}

/* Theme toogle */
.theme-toggle {
  width: 19px;
  height: 19px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-slider {
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
}

.theme-slider.light {
  transform: translateY(9.5px);
}

.theme-slider.dark {
  transform: translateY(-9.5px);
}

.theme-icon {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-light-svg {
  width: 12px;
  height: 12px;
  display: block;
}

.theme-dark-svg {
  width: 9.5px;
  height: 9.5px;
  display: block;
}

.theme-light-svg path,
.theme-dark-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-primary);
}

/* Note body wrapper */
.note-body-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 90px;
}

/* Note body */
.note-body {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-right: 20px;
}

.note {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
}

/* Note main */
.note-main {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Note img */
.note-img {
  max-width: 135px;
}

.note-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* Note details */
.note-details {
  padding: 0 5px;
  letter-spacing: 0.6px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.note-title {
  font-size: 0.53rem;
  font-weight: 600;
  color: var(--text-primary);
}

.note-text {
  font-size: 0.5rem;
  font-weight: 500;
  color: var(--text-secondary);
}

@media (max-width: 600px) {
  /* Note body */
  .note-body {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .note-img {
    max-width: 380px;
  }

  .note-overlay-text {
    bottom: 32px;
  }
}

@media (max-width: 480px) {
  /* Note body */
  .note-overlay-text {
    bottom: 25px;
  }
}

@media (max-width: 768px) {
  /* Note header */
  .note-header {
    width: 100vw;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 20px;
  }

  /* Note body */
  .note-overlay-text {
    font-size: 0.6rem;
  }

  .note-title {
    font-size: 0.65rem;
    margin-bottom: 0.2rem;
  }

  .note-text {
    font-size: 0.6rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* Note body */
  .note-body {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  .note-img {
    max-width: 280px;
  }

  .note-overlay-text {
    bottom: 33px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Note header */
  .note-header {
    width: 78vw;
  }
}

@media (max-width: 1024px) {
  /* Note header */
  .note-header-wrapper {
    width: 90%;
  }

  /* Note body */
  .note-body {
    width: 90%;
  }

  .note-main {
    padding: 0 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Note header */
  .note-header {
    width: 80vw;
  }

  /* Note body */
  .note-body {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}
