/* Settings wrapper */
.settings-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Settings header */
.settings-header {
  width: 85vw;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 25px;
  border-bottom: 0.5px solid var(--color-border);
  background-color: var(--color-sidebar-bg);
}

.settings-header-wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-logo {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  gap: 0.5rem;
}

.settings-logo .settings-header-svg-wrapper {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  animation: pulseBackground 1.5s infinite;
}

.settings-logo .settings-header-svg {
  width: 5px;
  height: 5px;
}

@keyframes pulseBackground {
  0% {
    background-color: var(--color-border);
    opacity: 0.6;
  }
  50% {
    background-color: var(--color-surface-primary);
  }
  100% {
    background-color: var(--color-border);
    opacity: 0.6;
  }
}

.settings-logo p {
  font-size: 0.7rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  color: var(--color-text-primary);
}

.settings-icons {
  color: var(--color-surface-accent);
  display: flex;
  gap: 1rem;
}

.settings-icons .settings-header-svg {
  width: 14px;
  height: 14px;
}

/* Settings body */
.settings-body {
  width: 100%;
  margin: 0 auto;
  max-width: 100vw;
  margin-top: 5px;
}

.settings-main {
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
  gap: 35px;
}

.settings-details-wrapper {
  display: flex;
  gap: 20px;
}

.settings-details {
  display: flex;
}

.settings-headers {
  font-size: 0.65rem;
  font-weight: 450;
  letter-spacing: 0.6px;
  color: var(--color-text-primary);
  margin-bottom: 25px;
}

.settings-details {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.6px;
  color: var(--color-surface-accent);
  width: 250px;
  background-color: var(--color-sidebar-bg);
  border: 0.5px solid var(--color-border);
  border-radius: 0.5rem;
  gap: 20px;
  padding: 20px 18px;
}

.settings-details-left {
  font-weight: 450;
  font-size: 0.62rem;
   display: flex;
  gap: 0.4rem;
  align-items: center;
}

.settings-left-svg {
  width: 13px;
  height: 13px;
  color: var(--color-surface-accent);
}

.settings-details-right {
  color: var(--color-surface-accent);
  font-weight: 400;
  font-size: 0.52rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-surface-primary);
  border-radius: 0.5rem;
  border: 0.5px solid var(--color-border);
  padding: 8px 12px;
}

.settings-right {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.settings-right-svg {
  width: 13px;
  height: 13px;
  color: var(--color-surface-accent);
}

@media (max-width: 768px) {
  /* Settings header */
  .settings-header {
    width: 100vw;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 20px;
  }

  /* Settings body */
  .settings {
    width: 100%;
  }

  /* Settings main */
  .settings-main {
    gap: 30px;
    width: 90%;
    margin-top: 40px;
  }

  .settings-main-wrapper {
    gap: 15px;
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Settings header */
  .settings-header {
    width: 80vw;
  }

  /* Settings body */
  .settings {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  /* Settings header */
  .settings-header-wrapper {
    width: 90%;
  }

  /* Settings body */
  .settings-body {
    width: 90%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Settings header */
  .settings-header {
    width: 83vw;
  }
}
