/* Settings wrapper */
.settings-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Settings header */
.settings-header {
  position: fixed;
  z-index: 10;
  width: 85vw;
  padding-top: 20px;
}

.settings-header-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-sidebar-bg);
  border-radius: 0.6rem;
  padding: 4.5px;
}

.settings-logo {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  gap: 0.4rem;
  background-color: var(--color-icon-primary);
  padding: 8px 14px;
  border-radius: 0.4rem;
}

.settings-logo p {
  font-size: 0.55rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  color: var(--color-text-primary);
}

.settings-icon {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 0.15rem;
  padding: 2.5px 2.7px;
  background-color: var(--color-icon-primary);
  border-radius: 0.4rem;
}

.settings-icon > * {
  padding: 5px;
  background: var(--color-folder-regular-bg);
  border: 1px solid var(--color-folder-border);
  border-radius: 0.3rem;
  cursor: pointer;
}

.settings-icon > *:hover {
  background-color: var(--color-sidebar-bg);
}

.settings-icon .settings-header-svg {
  width: 9.5px;
  height: 9.5px;
  display: block;
  color: var(--color-text-secondary);
  cursor: pointer;
}

/* Settings body */
.settings-body {
  width: 85vw;
  margin: 0 auto;
  margin-top: 90px;
}

.settings-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 95%;
  margin: 0 auto;
}

/* Settings top */
.settings-top {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.settings-top-left {
  flex: 0.95;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  background-color: var(--color-sidebar-bg);
  border: 0.5px solid var(--color-border);
  border-radius: 0.5rem;
  padding: 20px 25px 20px 20px;
}

/* Settings user */
.settings-user-wrapper {
  display: flex;
  height: 410px;
}

.settings-user {
  display: inline-block;
  border: 0.5px solid var(--color-border);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 320px;
  height: 410px;
}

.settings-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  border-radius: 0.5rem;
}

/* Settings line wrapper */
.settings-line-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
}

.settings-line-main {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  gap: 40px;
  margin-bottom: 10px;
}

.settings-line {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.settings-line-icon {
  margin-top: -20px;
  width: 30px;
  height: 30px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  background-color: var(--color-surface-primary);
  border-radius: 0.5rem;
  border: 0.5px solid var(--color-border);
  color: var(--color-surface-accent);
}

.settings-line-icon::before,
.settings-line-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0.5px;
  background-color: var(--color-border);
  transform: translateX(-50%);
  z-index: 0;
}

.settings-line-icon::before {
  top: -28px;
  height: 28px;
}

.settings-line-icon::after {
  bottom: -28px;
  height: 28px;
}

.settings-line:last-child .settings-line-icon::before,
.settings-line:first-child .settings-line-icon::after {
  display: none;
}

.settings-line-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings-line-header {
  font-weight: 500;
  font-size: 0.65rem;
  letter-spacing: 0.6px;
  color: var(--color-text-accent);
  margin-bottom: 10px;
}

.settings-line-body {
  display: flex;
  justify-content: space-between;
}

.settings-line-body p {
  font-weight: 450;
  font-size: 0.58rem;
  letter-spacing: 0.6px;
  color: var(--color-surface-accent);
}

.settings-save {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 35px;
  justify-content: flex-end;
  cursor: pointer;
}

.settings-save-svg {
  width: 13px;
  height: 13px;
  color: var(--color-surface-accent);
}

.settings-save p {
  font-weight: 450;
  font-size: 0.58rem;
  letter-spacing: 0.6px;
  color: var(--color-surface-accent);
  text-transform: lowercase;
}

.settings-top-right {
  flex: 0.324;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-top-right1,
.settings-top-right2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Settings bottom */
.settings-bottom {
  display: flex;
  gap: 15px;
}

.settings-bottom-left,
.settings-bottom-right {
  display: flex;
  gap: 15px;
  flex: 1;
}

/* Settings details wrappper */
.settings-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.6px;
  color: var(--color-surface-accent);
  background-color: var(--color-sidebar-bg);
  border: 0.5px solid var(--color-border);
  border-radius: 0.5rem;
  gap: 20px;
  padding: 20px 18px;
}

.settings-details-left {
  font-weight: 450;
  font-size: 0.62rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.settings-left-svg {
  width: 12px;
  height: 12px;
  color: var(--color-surface-accent);
}

.settings-details-right {
  color: var(--color-surface-accent);
  font-weight: 400;
  font-size: 0.52rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-surface-primary);
  border-radius: 0.5rem;
  border: 0.5px solid var(--color-border);
  padding: 6px 10px;
}

.settings-details-right-options {
  padding: 7.5px 10px;
}

.settings-right {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.settings-right-svg {
  width: 13px;
  height: 13px;
  color: var(--color-surface-accent);
}

.settings-dark-svg {
  width: 11.5px;
  height: 11.5px;
}

.settings-options {
  background-color: var(--color-sidebar-bg);
  border: 0.5px solid var(--color-border);
  border-radius: 0.3rem;
  padding: 3px 6px;
  cursor: pointer;
}

/* Dropdown options */
.dropdown-options {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 100;
  width: max-content;
  background-color: var(--color-sidebar-bg);
  border: 0.5px solid var(--color-border);
  border-radius: 0.5rem;
  padding: 5px;
}

.dropdown-options div {
  margin: 0;
  padding: 3px 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-options div:hover {
  background-color: var(--color-surface-primary);
  border-radius: 0.3rem;
  border: 0.5px solid var(--color-border);
}

@media (max-width: 480px) {
  /* Settings body */
  .settings-top-right1,
  .settings-top-right2,
  .settings-bottom-left,
  .settings-bottom-right {
    flex-direction: column;
  }

  .settings-user-wrapper {
    margin-bottom: -40px;
  }

  .settings-user {
    width: 400px;
    height: 380px;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  /* Settings body */
  .settings-user-wrapper {
    margin-bottom: 90px;
  }

  .settings-user {
    width: 480px;
    height: 500px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  /* Settings body */
  .settings-user-wrapper {
    margin-bottom: 200px;
  }

  .settings-user {
    width: 660px;
    height: 600px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Settings body */
  .settings-top-right1,
  .settings-top-right2,
  .settings-bottom-left,
  .settings-bottom-right {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  /* Settings header */
  .settings-header {
    width: 100vw;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 20px;
  }

  /* Settings body */
  .settings-body {
    max-width: 100vw;
  }

  .settings-top-left {
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  /* Settings body */
  .settings-user {
    width: 250px;
    height: 410px;
  }

  .settings-top-left {
    gap: 25px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Settings header */
  .settings-header {
    width: 80vw;
  }

  /* Settings body */
  .settings-body {
    max-width: 80vw;
  }

  .settings-top-right1,
  .settings-top-right2 {
    flex-direction: row;
  }
}

@media (max-width: 1024px) {
  /* Settings header */
  .settings-header-wrapper {
    width: 90%;
  }

  /* Settings body */
  .settings-body {
    width: 90%;
  }

  .settings-top {
    flex-direction: column;
  }

  .settings-top-right,
  .settings-top-right1,
  .settings-top-right2 {
    gap: 15px;
  }

  .settings-bottom {
    flex-direction: column;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Settings header */
  .settings-header {
    width: 83vw;
  }

  /* Settings body */
  .settings-body {
    max-width: 83vw;
  }
}
