/* Folder main */
.folder-layout-main {
  width: 94%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: -90px;
}

.folder-layout-regular {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 5px 0;
  border-radius: 0.6rem;
  background: var(--color-folder-regular-bg);
  border: 1px solid var(--color-folder-border);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 0;
  overflow: hidden;
  height: 100%;
}

.folder-layout-regular::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -30%;
  width: 200%;
  height: 200%;
  background: var(--color-folder-regular-glass-highlight);
  transform: rotate(25deg);
  pointer-events: none;
  mix-blend-mode: soft-light;
  z-index: 1;
}

.folder-image-wrapper {
  position: relative;
}

.folder-layout-dots {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  z-index: 2;
  pointer-events: none;
}

.folder-layout-dot-svg {
  width: 9px;
  height: 9px;
  display: block;
  color: var(--color-text-accent);
  opacity: 0.8;
  border: 0.5px solid var(--color-folder-border);
  border-radius: 50%;
  padding: 0.5px;
}

.folder-layout-image {
  position: relative;
  width: 100%;
  overflow: visible;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  align-items: center;
}

.folder-layout-img {
  position: absolute;
  top: 43.5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 5vw;
  aspect-ratio: 12 / 9;
}

.folder-layout-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 0.8rem;
  border: 2px solid var(--color-surface-accent);
}

.folder-layout-icon {
  position: absolute;
  top: 40px;
  left: 97%;
  transform: translateX(-50%);
  z-index: 100;
  pointer-events: none;
}

.folder-layout-icon-svg {
  width: 15rem;
  height: 15rem;
}

.folder-layout-icon-text {
  fill: var(--color-text-secondary);
  font-size: 0.65rem;
  font-weight: bold;
}

.folder-layout-div {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  gap: 10px;
  padding: 10px;
  background: var(--color-sidebar-bg);
  border: 1px solid var(--color-folder-border);
  border-radius: 0.5rem;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  letter-spacing: 0.6px;
  text-align: center;
  z-index: 2;
  position: relative;
  overflow: visible;
  height: 100%;
}

.folder-layout-spacer {
  flex-grow: 1;
}

.folder-layout-top {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.folder-layout-div.has-image .folder-layout-top {
  margin-top: 35.5px;
}

.folder-top-text {
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 2;
  color: var(--color-text-primary);
}

.folder-layout-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.folder-bottom-text {
  width: fit-content;
  padding: 4px 6px;
  display: flex;
  justify-content: flex-start;
  color: var(--color-text-secondary);
  font-size: 0.45rem;
  font-weight: 450;
  background: var(--color-folder-regular-bg);
  border: 1px solid var(--color-folder-border);
  border-radius: 0.3rem;
}

.folder-bottom-star {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: auto;
  cursor: pointer;
  z-index: 99;
  padding: 4px;
  background: var(--color-folder-regular-bg);
  border: 1px solid var(--color-folder-border);
  border-radius: 0.3rem;
}

.folder-bottom-star-svg {
  width: 9px;
  height: 9px;
  display: block;
  color: var(--color-text-secondary);
  cursor: pointer;
}

/* Folder link */
.folder-layout-main:has(.folder-link-wrapper) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.folder-layout-main .folder-link-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 10px;
  padding: 0 0 15px 0;
  background-color: var(--color-surface-secondary);
  border-radius: 0.5rem;
}

.folder-layout-main .folder-link-wrapper:hover {
  background-color: var(--color-surface-primary);
  border: 0.5px solid var(--color-border);
  cursor: pointer;
}

.folder-layout-main .folder-link-body {
  flex: 1;
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 13px;
}

.folder-layout-main .folder-link-left .folder-link-left-svg {
  width: 25px;
  height: 28px;
  display: block;
  background-color: var(--color-surface-primary);
  border: 0.5px solid var(--color-border);
  border-radius: 0.5rem;
  color: var(--color-surface-accent);
  padding: 5px;
}

.folder-layout-main .folder-link-right a {
  display: block;
  padding-top: 5px;
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 2;
  color: var(--color-text-primary);
  text-decoration: none;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

/* Folder regular */
@media (max-width: 600px) {
  .folder-layout-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .folder-layout-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .folder-layout-main {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Folder link */
@media (max-width: 768px) {
  .folder-layout-main:has(.folder-link-wrapper) {
    grid-template-columns: repeat(2, 1fr);
  }

  .folder-layout-main .folder-link-right a {
    padding-top: 2px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .folder-layout-main:has(.folder-link-wrapper) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  /* Folder main */
  .folder-layout-main {
    width: 90%;
  }
}
