/* Folder main */
.folder-layout-main {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: -90px;
}

.folder-layout-regular {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 5px 0;
  border-radius: 0.6rem;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  z-index: 0;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
}

.folder-image-wrapper {
  position: relative;
}

.folder-layout-dots {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  z-index: 2;
  pointer-events: none;
}

.folder-layout-dot-svg {
  width: 9px;
  height: 9px;
  display: block;
  color: var(--text-secondary);
  opacity: 0.8;
  border: 0.5px solid var(--border-primary);
  border-radius: 50%;
  padding: 0.5px;
}

.folder-layout-image {
  position: relative;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.folder-layout-img {
  position: relative;
  bottom: -65px;
  left: 30px;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.folder-layout-img img {
  width: 62px;
  aspect-ratio: 12 / 9;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 0.5rem;
  border: 1px solid var(--border-primary);
}

.folder-layout-icon {
  position: relative;
  bottom: -159px;
  left: 208px;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  pointer-events: none;
}

.folder-layout-icon-svg {
  width: 15rem;
  height: 15rem;
}

.folder-layout-icon-svg path {
  fill: var(--bg-secondary);
  stroke: var(--border-primary);
}

.folder-layout-icon-text {
  fill: var(--text-secondary);
  font-size: 0.65rem;
  font-weight: bold;
}

.folder-layout-div {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
  gap: 8px;
  padding: 10px;
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.5rem;
  letter-spacing: 0.6px;
  text-align: center;
  z-index: 2;
  position: relative;
  overflow: visible;
  height: 100%;
}

.folder-layout-spacer {
  flex-grow: 1;
}

.folder-layout-top {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.folder-layout-div.has-image .folder-layout-top {
  margin-top: 35.5px;
}

.folder-layout-top .folder-top-text {
  font-size: 0.6rem;
  font-weight: 550;
  line-height: 2;
  color: var(--text-primary);
}

.folder-layout-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.folder-bottom-text {
  width: fit-content;
  padding: 4px 6px;
  display: flex;
  justify-content: flex-start;
  color: var(--text-secondary);
  font-size: 0.45rem;
  font-weight: 500;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.3rem;
}

.folder-bottom-star {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: auto;
  cursor: pointer;
  z-index: 99;
  padding: 4px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.3rem;
}

.folder-bottom-star-svg,
.folder-bottom-starred-svg {
  width: 9px;
  height: 9px;
  display: block;
  cursor: pointer;
}

.folder-bottom-star-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-secondary);
  transition: all 0.3s ease;
}

.folder-bottom-starred-svg path {
  fill: var(--text-secondary);
  stroke: var(--text-secondary);
}

/* Folder link */
.folder-layout-main:has(.folder-link-wrapper) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.folder-link-container {
  position: relative;
  overflow: visible;
}

.folder-link-main {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 3px 3px 8px 3px;
  border-radius: 0.7rem;
  background: var(--color-regular-primary);
  border: 1px solid var(--color-border-primary);
}

.folder-layout-main .folder-link-body {
  flex: 1;
  padding: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background: var(--color-background-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.6rem;
  margin-bottom: 10px;
}

.folder-layout-main .folder-link-left .folder-link-left-svg {
  width: 40px;
  height: 40px;
  display: block;
  background: var(--color-regular-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.45rem;
  color: var(--color-text-secondary);
  padding: 7px;
}

.folder-layout-main .folder-link-title {
  display: block;
  font-size: 0.58rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 2;
  color: var(--color-text-primary);
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.folder-link-bottom {
  padding: 0px 5px;
}

.folder-link-bottom-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: auto;
  cursor: pointer;
  gap: 0.3rem;
  padding: 4px 6px;
  background: var(--color-regular-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.3rem;
}

.folder-link-bottom-icon:hover {
  background: var(--color-background-secondary);
}

.folder-bottom-icon-svg {
  width: 9px;
  height: 9px;
  display: block;
  color: var(--color-text-secondary);
  cursor: pointer;
}

.folder-bottom-icon-text {
  color: var(--color-text-secondary);
  font-size: 0.45rem;
  font-weight: 450;
}

.folder-edit-toggle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transform-origin: top;
  transform: translateY(0);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease, transform 0.6s ease;
  margin-top: -20px;
  padding: 3px;
  border: 1px solid var(--color-border-primary);
  border-radius: 0.7rem;
}

.folder-edit-toggle-wrapper.show {
  transform: translateY(100%);
  opacity: 1;
  pointer-events: all;
}

.folder-edit-toggle-main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 4px;
  background: var(--color-background-secondary);
  border: 1px dashed var(--color-border-primary);
  border-radius: 0.6rem;
}

.folder-edit-toggle-icons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.3rem;
  margin-left: auto;
  margin-bottom: 3px;
  padding: 2px 3px 0 0;
}

.folder-edit-save-wrapper {
  padding: 4px 5px;
  width: fit-content;
  background: var(--color-regular-secondary);
  border: 0.5px solid var(--color-border-primary);
  border-radius: 0.3rem;
  cursor: pointer;
}

.folder-edit-save-wrapper:hover {
  background: var(--color-background-secondary);
}

.folder-edit-save-svg,
.folder-edit-reverse-svg {
  width: 10px;
  height: 10px;
  color: var(--color-text-primary);
  display: block;
}

.folder-edit-toggle-group {
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-regular-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.5rem;
}

.folder-edit-input,
.folder-edit-label {
  font-size: 0.5rem;
  font-weight: 450;
  color: var(--color-text-primary);
  letter-spacing: 0.6px;
  width: 100%;
  display: block;
  border: none;
  background: transparent;
  outline: none;
}

/* Folder regular */
@media (max-width: 600px) {
  .folder-layout-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .folder-layout-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .folder-layout-main {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Folder link */
@media (min-width: 480px) and (max-width: 991px) {
  .folder-layout-main:has(.folder-link-wrapper) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .folder-layout-main:has(.folder-link-wrapper) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  /* Folder main */
  .folder-layout-main {
    width: 93%;
  }
}
