/* Folder main */
.folder-list-main {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: -90px;
  background: var(--color-background-primary);
}

.folder-list-regular {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  padding: 3px;
  border-radius: 0.6rem;
  background: var(--color-regular-primary);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid var(--color-border-primary);
  cursor: pointer;
}

.folder-list-regular:hover {
  background: var(--color-background-secondary);
}

.folder-list-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background: var(--color-background-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.5rem;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  letter-spacing: 0.75px;
}

.folder-list-body:hover {
  background: var(--color-regular-secondary);
}

.folder-list-body .folder-image-wrapper {
  flex: 6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

.folder-list-img {
  top: 0;
  z-index: 100;
  width: 3vw;
  aspect-ratio: 12 / 9;
}

.folder-list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 0.45rem;
  border: 1px solid var(--color-surface-secondary);
}

.folder-list-icon p {
  position: relative;
  width: 25px;
  height: 30px;
  background: var(--color-regular-secondary);
  border: 1px solid var(--color-border-primary);
  color: var(--color-text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 10px;
}

.folder-left-text {
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 2;
  color: var(--color-text-primary);
}

.folder-list-right {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.6rem;
}

.folder-right-text {
  width: fit-content;
  padding: 4px 6px;
  color: var(--color-text-secondary);
  font-size: 0.45rem;
  font-weight: 450;
  background: var(--color-regular-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.3rem;
}

.folder-right-star {
  cursor: pointer;
  pointer-events: auto;
  padding: 4px;
  background: var(--color-regular-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.3rem;
}

.folder-right-star-svg {
  width: 9px;
  height: 9px;
  display: block;
  color: var(--color-text-secondary);
  cursor: pointer;
}

/* Folder link */
.folder-list-link-main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 3px;
  border-radius: 0.6rem;
  background: var(--color-regular-secondary);
  border: 1px solid var(--color-border-primary);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  letter-spacing: 0.6px;
  cursor: pointer;
}

.folder-list-link-main:hover {
  background: var(--color-background-secondary);
}

.folder-list-link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  background: var(--color-background-secondary);
  border: 1px solid var(--color-border-primary);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 0.5rem;
}

.folder-list-link-wrapper:hover {
  background: var(--color-regular-secondary);
}

.folder-list-link-main .folder-link-body {
  flex: 6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

.folder-list-main .folder-link-left {
  position: relative;
  width: 25px;
  height: 30px;
  background: var(--color-regular-secondary);
  border: 1px solid var(--color-border-primary);
  color: var(--color-text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  padding: 5px;
}

.folder-list-main .folder-link-left .folder-link-left-svg {
  width: 40px;
  height: 40px;
  display: block;
}

.folder-list-main .folder-link-title {
  font-size: 0.58rem;
  font-weight: 500;
  line-height: 2;
  color: var(--color-text-primary);
}

.folder-list-link-main .folder-link-bottom {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.6rem;
  padding: 0px;
}

.folder-list-link-main .folder-link-bottom-icon {
  cursor: pointer;
  pointer-events: auto;
  padding: 4px;
  background: var(--color-regular-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.3rem;
}

.folder-link-bottom-icon:hover {
  background: var(--color-background-secondary);
}

.folder-bottom-icon-svg {
  width: 9px;
  height: 9px;
  display: block;
  color: var(--color-text-secondary);
  cursor: pointer;
}

.folder-list-main .folder-bottom-icon-text {
  display: none;
}

.folder-list-link-container .folder-list-edit-toggle-wrapper {
  position: absolute;
  right: 25px;
  width: 200px;
  z-index: 1;
  transform-origin: top;
  transform: translateY(0);
  margin-top: -115px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease, transform 0.6s ease;
  padding: 3px;
  border: 1px solid var(--color-border-primary);
  border-radius: 0.7rem;
}

.folder-list-edit-toggle-wrapper.show {
  transform: translateY(100%);
  opacity: 1;
  pointer-events: all;
}

.folder-edit-toggle-main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 4px;
  background: var(--color-background-secondary);
  border: 1px dashed var(--color-border-primary);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 0.6rem;
}

.folder-edit-toggle-icons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.3rem;
  margin-left: auto;
  margin-bottom: 3px;
  padding: 2px 3px 0 0;
}

.folder-edit-save-wrapper {
  padding: 4px 5px;
  width: fit-content;
  background: var(--color-regular-secondary);
  border: 0.5px solid var(--color-border-primary);
  border-radius: 0.3rem;
  cursor: pointer;
}

.folder-edit-save-wrapper:hover {
  background: var(--color-background-secondary);
}

.folder-edit-save-svg,
.folder-edit-reverse-svg {
  width: 10px;
  height: 10px;
  color: var(--color-text-primary);
  display: block;
}

.folder-edit-toggle-group {
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-regular-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.5rem;
}

.folder-edit-input,
.folder-edit-label {
  font-size: 0.5rem;
  font-weight: 450;
  color: var(--color-text-primary);
  letter-spacing: 0.6px;
  width: 100%;
  display: block;
  border: none;
  background: transparent;
  outline: none;
}

@media (max-width: 1024px) {
  /* Folder main */
  .folder-list-main {
    width: 93%;
  }
}
