/* Folder main */
.folder-list-main {
  width: 94%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: -90px;
}

.folder-link-regular {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  gap: 15px;
  padding: 15px 0;
  background-color: var(--color-surface-secondary);
  border-radius: 0.5rem;
}

.folder-link-regular:hover {
  background-color: var(--color-surface-primary);
  border: 0.5px solid var(--color-border);
  cursor: pointer;
}

.folder-list-left {
  flex: 1.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding-left: 20px;
}

.folder-list-left .left-icon img {
  width: 25px;
  height: 30px;
  object-fit: cover;
  border-radius: 0.5rem;
  display: block;
}

.folder-list-left .left-icon p {
  position: relative;
  width: 25px;
  height: 30px;
  background-color: var(--color-surface-accent);
  color: var(--color-surface-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 10px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 20%, 100% 100%, 0% 100%);
}

.folder-list-left .left-text {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 2;
  color: var(--color-text-primary);
  width: 100%;
  text-align: left;
}

.folder-list-middle {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.folder-list-middle .middle-text {
  color: var(--color-surface-accent);
  font-size: 0.55rem;
  font-weight: 450;
  letter-spacing: 0.6px;
}

.folder-list-right {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  gap: 0.6rem;
}

.folder-list-right .folder-top-star .folder-top-star-svg,
.folder-list-right .folder-top-menu .folder-top-menu-svg {
  width: 13px;
  height: 13px;
  display: block;
  color: var(--color-surface-accent);
}

/* Folder link */
.folder-list-main .folder-link-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 10px;
  padding: 0 0 20px 0;
  background-color: var(--color-surface-secondary);
  border-radius: 0.5rem;
}

.folder-list-main .folder-link-wrapper:hover {
  background-color: var(--color-surface-primary);
  border: 0.5px solid var(--color-border);
  cursor: pointer;
}

.folder-list-main .folder-link-body {
  flex: 1;
  padding: 15px 0 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.folder-list-main .folder-link-left .folder-link-left-svg {
  width: 25px;
  height: 28px;
  display: block;
  background-color: var(--color-surface-primary);
  border: 0.5px solid var(--color-border);
  border-radius: 0.5rem;
  color: var(--color-surface-accent);
  padding: 5px;
}

.folder-list-main .folder-link-right a {
  font-size: 0.62rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 2;
  color: var(--color-text-primary);
  text-decoration: none;
}

.folder-list-main .folder-link-side {
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  /* Folder main */
  .folder-list-middle {
    display: none;
  }
}

@media (max-width: 768px) {
  /* Folder main */
  .folder-list-left {
    flex: 4.5;
    padding-left: 15px;
  }

  .folder-list-right {
    padding-right: 15px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Folder main */
  .folder-list-left {
    flex: 3.5;
  }
}

@media (max-width: 1024px) {
  /* Folder main */
  .folder-list-main {
    width: 90%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Folder main */
  .folder-list-left {
    flex: 2.5;
  }
}
