/* Folder main */
.folder-list-main {
  width: 93%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 35px;
}

.folder-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  gap: 15px;
  padding: 20px 0;
  background-color: var(--color-surface-secondary);
  border-radius: 0.5rem;
}

.folder-list:hover {
  background-color: var(--color-surface-primary);
  border: 0.5px solid var(--color-border);
  cursor: pointer;
}

.folder-list-left {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 30px;
}

.folder-list-left .left-icon img {
  width: 35px;
  height: 40px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.folder-list-left .left-icon p {
  position: relative;
  width: 35px;
  height: 40px;
  background-color: var(--color-surface-accent);
  color: var(--color-surface-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px 15px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 20%, 100% 100%, 0% 100%);
}

.folder-list-left .left-text {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 2;
  color: var(--color-text-primary);
  width: 100%;
  text-align: left;
}

.folder-list-middle {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.folder-list-middle .middle-text {
  color: var(--color-surface-accent);
  font-size: 0.72rem;
  font-weight: 450;
  letter-spacing: 0.6px;
}

.folder-list-right {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  gap: 20px;
}

.folder-list-right .folder-top-star .folder-top-star-svg,
.folder-list-right .folder-top-menu .folder-top-menu-svg {
  width: 18px;
  height: 18px;
  display: block;
  color: var(--color-surface-accent);
}

@media (max-width: 480px) {
  /* Folder main */
  .folder-list-left {
    flex: 6;
    padding-left: 25px;
  }

  .folder-list-left .left-text {
    font-size: 0.75rem;
  }
}

@media (max-width: 600px) {
  /* Folder main */
  .folder-list-middle {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  /* Folder main */
  .folder-list-middle .middle-text {
    font-size: 0.77rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Folder main */
  .folder-list-left {
    flex: 5;
    padding-left: 25px;
  }

  .folder-list-left .left-text {
    font-size: 0.77rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Folder main */
  .folder-list-left {
    flex: 4;
  }
}

@media (max-width: 1024px) {
  /* Folder main */
  .folder-list-main {
    width: 90%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Folder main */
  .folder-list-left {
    flex: 3;
  }
}
