/* Folder main */
.folder-compact-main {
  width: 93%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 35px;
}

.folder-compact {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 20px;
  padding: 30px 0;
  background-color: var(--color-surface-secondary);
  border-radius: 0.5rem;
}

.folder-compact:hover {
  background-color: var(--color-surface-primary);
  border: 0.5px solid var(--color-border);
  cursor: pointer;
}

.folder-compact-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.folder-compact-top .folder-top-star .folder-top-star-svg,
.folder-compact-top .folder-top-menu .folder-top-menu-svg {
  width: 18px;
  height: 18px;
  display: block;
  color: var(--color-surface-accent);
}

.folder-compact-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 25px;
}

.folder-compact-middle .middle-icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.folder-compact-middle .middle-icon p {
  position: relative;
  width: 40px;
  height: 50px;
  background-color: var(--color-surface-accent);
  color: var(--color-surface-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 30px 25px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 20%, 100% 100%, 0% 100%);
}

.folder-compact-middle .middle-text {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 2;
  color: var(--color-text-primary);
  width: 100%;
  text-align: center;
}

@media (max-width: 480px) {
  /* Folder main */
  .folder-compact-main {
    grid-template-columns: repeat(2, 1fr);
  }

  .folder-compact-middle .middle-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  /* Folder main */
  .folder-compact-middle .middle-text {
    font-size: 0.85rem;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  /* Folder main */
  .folder-compact-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  /* Folder main */
  .folder-compact-main {
    width: 90%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Folder main */
  .folder-compact-main {
    grid-template-columns: repeat(4, 1fr);
  }
}
