/* Folder container */
.folder-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

/* Folder wrapper */
.folder-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Folder header */
.folder-header {
  position: fixed;
  z-index: 10;
  width: 85vw;
  padding-top: 20px;
}

.folder-header-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-sidebar-bg);
  border-radius: 0.6rem;
  padding: 4.5px;
}

.folder-logo {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  gap: 0.4rem;
  background-color: var(--color-icon-primary);
  padding: 8px 14px;
  border-radius: 0.4rem;
}

.folder-logo p {
  font-size: 0.55rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  color: var(--color-text-primary);
}

.folder-icons {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 0.15rem;
  padding: 2.5px 2.7px;
  background-color: var(--color-icon-primary);
  border-radius: 0.4rem;
}

.folder-icons > * {
  padding: 5px;
  background: var(--color-folder-regular-bg);
  border: 1px solid var(--color-folder-border);
  border-radius: 0.3rem;
  cursor: pointer;
}

.folder-icons > *:hover {
  background-color: var(--color-sidebar-bg);
}

.folder-icons .folder-header-svg {
  width: 9.5px;
  height: 9.5px;
  display: block;
  color: var(--color-text-secondary);
  cursor: pointer;
}

/* Search popup */
.search-popup-overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.search-popup {
  background: var(--color-icon-accent);
  padding: 2px 0 10px 0;
  border-radius: 0.5rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid var(--color-icon-border);
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

/* Search popup top */
.search-popup-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-icon-border);
  padding: 0 15px 12px 15px;
}

.search-top-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-top-icon,
.close-icon {
  color: var(--color-text-secondary);
  opacity: 0.8;
  width: 10px;
  height: 10px;
}

.search-input {
  width: 100%;
  padding: 13px 0 0 10px;
  border-radius: 0;
  font-size: 0.65rem;
  font-weight: 450;
  letter-spacing: 0.6px;
  color: var(--color-text-secondary);
  opacity: 0.8;
  border: none;
  background: none;
  outline: none;
}

.search-input::placeholder {
  color: var(--color-text-secondary);
  opacity: 0.8;
}

.close-button {
  padding-top: 10px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

/* Search popup recent & quick */
.search-popup-recent,
.search-popup-quick {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0 15px 0 0;
}

.search-popup-quick {
  padding: 5px 0 0 0;
}

.search-recent-header,
.search-quick-header {
  padding: 0 0 0 15px;
  font-size: 0.54rem;
  font-weight: 450;
  letter-spacing: 0.6px;
  color: var(--color-text-secondary);
  opacity: 0.8;
}

.search-recent-body,
.search-quick-body {
  display: flex;
  flex-direction: column;
}

.search-recent-main,
.search-quick-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 8px;
  margin: 0 0 0 7.5px;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.search-quick-main {
  margin: 0 0 0 7.5px;
}

.search-recent-main:hover,
.search-quick-main:hover {
  padding: 8px;
  margin: 0 -7px 0 6.8px;
  background: var(--color-icon-secondary);
  border: 1px solid var(--color-icon-border);
}

.search-quick-main:hover {
  margin: 0 7px 0 6.8px;
}

.recent-main-icon,
.quick-main-icon {
  padding: 6px 6.5px;
  border-radius: 0.4rem;
  background-color: var(--color-icon-primary);
  border: 1px solid var(--color-icon-border);
}

.recent-main-icon-svg,
.quick-main-icon-svg {
  color: var(--color-text-primary);
  opacity: 0.8;
  width: 14px;
  height: 14px;
  display: block;
}

.recent-main-header,
.quick-main-header {
  font-size: 0.52rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: var(--color-text-primary);
  opacity: 0.9;
  margin-bottom: 4.3px;
}

.recent-main-text,
.quick-main-text {
  font-size: 0.5rem;
  font-weight: 450;
  letter-spacing: 0.6px;
  color: var(--color-text-secondary);
  opacity: 0.8;
}

.search-recent-empty {
  margin: 5px 0 0 15px;
  font-size: 0.52rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  color: var(--color-text-primary);
  opacity: 0.9;
}

/* Search no results */
.no-results-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  padding: 9px 0 14px 0;
}

.no-results-icon {
  padding: 6.5px 7px;
  border-radius: 0.4rem;
  background-color: var(--color-icon-primary);
  border: 1px solid var(--color-icon-border);
  margin-bottom: 4px;
}

.no-results-icon-svg {
  color: var(--color-text-primary);
  opacity: 0.8;
  width: 15px;
  height: 15px;
  display: block;
}

.no-results-header {
  margin: 5px 0 0 15px;
  font-size: 0.6rem;
  font-weight: 450;
  letter-spacing: 0.6px;
  color: var(--color-text-primary);
  opacity: 0.9;
}

.no-results-text {
  font-size: 0.52rem;
  font-weight: 400;
  letter-spacing: 0.6px;
  width: 50%;
  line-height: 1.6;
  color: var(--color-text-secondary);
  opacity: 0.8;
}

.no-results-text span {
  color: var(--color-text-primary);
  opacity: 0.8;
  cursor: pointer;
}

.no-results-clear button {
  all: unset;
  background-color: var(--color-icon-primary);
  border: 1px solid var(--color-icon-border);
  color: var(--color-text-primary);
  opacity: 0.9;
  padding: 7px 12px;
  margin-top: 9px;
  border-radius: 0.4rem;
  font-size: 0.5rem;
  font-weight: 450;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.no-results-clear button:hover {
  color: var(--color-text-primary);
  opacity: 0.7;
}

/* Folder body */
.folder-body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 105px;
}

.folder-body-main {
  margin-top: 15px;
}

/* Folder body header */
.folder-body-header {
  width: 94%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-primary);
  margin-top: -9px;
  margin-bottom: 12px;
}

.folder-left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.folder-left .folder-icon {
  display: flex;
  align-items: center;
  padding: 5px 6px;
  color: var(--color-text-accent);
  border-radius: 0.45rem;
  background-color: var(--color-icon-primary);
  border: 0.5px solid var(--color-folder-border);
  gap: 0.2rem;
}

.folder-icon .folder-icon-svg {
  width: 15px;
  height: 15px;
  color: var(--color-text-secondary);
  opacity: 0.9;
}

.folder-icon i {
  font-size: 0.55rem;
  color: var(--color-text-secondary);
  opacity: 0.8;
}

.folder-left .folder-tag {
  font-size: 0.65rem;
  font-weight: 550;
  letter-spacing: 0.6px;
}

.folder-right {
  position: relative;
}

.folder-right .folder-grid-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 28px;
  color: var(--color-text-primary);
  opacity: 0.8;
  gap: 0.2rem;
  padding: 15px 4px;
  background-color: var(--color-sidebar-bg);
  border-radius: 0.5rem;
}

.folder-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 5px;
  cursor: pointer;
}

.folder-grid-name {
  font-size: 0.55rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.folder-right .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.folder-right .slider .ball {
  position: absolute;
  bottom: 1.5px;
  left: 0;
  width: 42px;
  height: 22.5px;
  margin-bottom: 2px;
  transition: left 0.3s ease;
  z-index: 1;
  background-color: var(--color-icon-primary);
  border: 0.5px solid var(--color-folder-border);
  border-radius: 0.4rem;
}

.folder-right .slider .ball.ball-list {
  width: 43.5px;
}

.folder-right .slider .ball.ball-layout {
  width: 58.5px;
}

.folder-right .slider .ball.ball-compact {
  width: 68.5px;
}

.folder-grid-svg {
  width: 11px;
  height: 11px;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  /* Folder header */
  .folder-header {
    width: 100vw;
    position: static;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .folder-left .folder-tag {
    font-size: 0.7rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Folder header */
  .folder-header {
    width: 80vw;
  }
}

@media (max-width: 1024px) {
  /* Folder header */
  .folder-header-wrapper {
    width: 90%;
  }

  /* Folder body */
  .folder-body-header {
    width: 90%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Folder header */
  .folder-header {
    width: 83vw;
  }
}
