/* Folder header */
.folder-header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.folder-header-svg {
  width: 20px;
  height: 20px;
}

.folder-logo {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  gap: 0.5rem;
}

.folder-logo p {
  font-size: 0.9rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.folder-icons {
  color: var(--color-text-primary);
  display: flex;
  gap: 1rem;
}

.folder-hr {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color-text-accent);
  margin-bottom: 10px;
}

.folder-hr .line {
  flex-grow: 1;
  height: 0.5px;
  background-color: var(--color-text-accent);
  margin: 0 -12px;
}

.folder-hr i {
  font-size: 1.2rem;
}

/* Folder wrapper */
.folder-wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Folder body header */
.folder-body-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-primary);
  margin-top: 15px;
}

.folder-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.folder-left .folder-icon {
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  padding: 6px 9px;
  background-color: var(--color-surface-secondary);
  border-radius: 0.5rem;
  gap: 0.4rem;
}

.folder-icon .folder-icon-svg {
  width: 18px;
  height: 18px;
  color: var(--color-surface-accent);
}

.folder-icon i {
  font-size: 0.7rem;
  color: var(--color-surface-accent);
}

.folder-left .folder-tag {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.folder-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-surface-accent);
  padding: 4px 13px;
  background-color: var(--color-surface-secondary);
  border-radius: 0.5rem;
}

.folder-grid .grid-list-svg,
.folder-grid .grid-layout-svg,
.folder-grid .grid-compact-svg {
  width: 18px;
  height: 18px;
  display: block;
}

.folder-right .grid-active {
  color: var(--color-text-primary);
  padding: 6px 10px;
  background-color: var(--color-surface-primary);
  border-radius: 0.5rem;
}

/* Folder main */
.folder-main {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 35px;
}

.folder {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 15px;
  padding: 30px 0;
  background-color: var(--color-surface-secondary);
  border-radius: 0.5rem;
}

.folder-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.folder-top-star .folder-top-star-svg,
.folder-top-menu .folder-top-menu-svg {
  width: 18px;
  height: 18px;
  display: block;
  color: var(--color-surface-accent);
}

.folder-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0 25px;
}

.folder-middle .middle-icon {
  position: relative;
  width: 40px;
  height: 50px;
  background-color: var(--color-surface-accent);
  color: var(--color-surface-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 40px 35px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 20%, 100% 100%, 0% 100%);
}

.folder-middle .middle-text {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 2;
  color: var(--color-text-primary);
  width: 100%;
  text-align: center;
}

.folder-body-hr {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color-text-accent);
  padding: 0 15px;
}

.folder-body-hr .line {
  flex-grow: 1;
  height: 0.5px;
  background-color: var(--color-text-accent);
  margin: 0 -12px;
}

.folder-body-hr i {
  font-size: 1.2rem;
}

.folder-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.6px;
  padding: 0 30px;
}

.folder-bottom .bottom-title {
  color: var(--color-text-primary);
  font-size: 0.74rem;
  font-weight: 500;
}

.folder-bottom .bottom-text {
  color: var(--color-surface-accent);
  font-size: 0.72rem;
  font-weight: 450;
}

@media (max-width: 480px) {
  .folder-header {
    padding-top: 20px;
    margin-bottom: 15px;
  }

  .folder-logo p {
    font-size: 0.95rem;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .folder-header {
    padding-top: 25px;
  }

  .folder-logo p {
    font-size: 1rem;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .folder-header {
    padding-top: 30px;
  }

  .folder-logo p {
    font-size: 1.05rem;
  }
}

@media (max-width: 768px) {
  .folder-header {
    width: 93%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .folder-logo p {
    font-size: 0.85rem;
  }
}
