/* Folder container */
.folder-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

/* Folder wrapper */
.folder-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Folder header */
.folder-header {
  position: fixed;
  z-index: 10;
  width: 85vw;
  padding-top: 20px;
}

.folder-header-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.6rem;
  padding: 4px 4.5px;
}

/* Folder logo */
.folder-logo {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  gap: 0.4rem;
  background: var(--bg-secondary);
  padding: 7px 12px;
  border-radius: 0.4rem;
  border: 0.5px solid var(--border-primary);
}

.folder-logo p {
  font-size: 0.56rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

/* Folder icons */
.folder-icons {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 0.2rem;
  padding: 3px;
  background: var(--bg-secondary);
  border-radius: 0.4rem;
  border: 0.5px solid var(--border-primary);
}

.folder-icons > * {
  padding: 4.5px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.3rem;
  cursor: pointer;
}

.folder-icons > *:hover {
  background: var(--bg-secondary);
}

.folder-icons .folder-header-svg {
  width: 9.5px;
  height: 9.5px;
  display: block;
  cursor: pointer;
}

.folder-icons .folder-header-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-primary);
}

/* Search popup */
.search-popup-overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.search-popup {
  width: 360px;
  margin: 0 auto;
}

.search-popup-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Search popup top */
.search-popup-input {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 120px;
  margin: 0 auto;
  padding: 1.5px;
  border: 0.5px solid var(--border-primary);
  border-radius: 0.6rem;
  background: var(--bg-primary);
  gap: 0.4rem;
  padding-left: 2px;
}

.search-popup-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.search-input-box {
  width: fit-content;
  color: var(--text-secondary);
  padding: 2.5px 5px;
}

.search-input {
  width: 100%;
  border-radius: 0;
  font-size: 0.45rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: var(--text-primary);
  border: none;
  background: none;
  outline: none;
}

.search-input::placeholder {
  color: var(--text-primary);
}

.hide-search-top {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Search popup middle */
.search-popup-middle {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  gap: 20px;
}

.search-popup-middle-wrapper {
  width: calc(360px / 3);
}

.popup-middle-slider {
  display: flex;
  width: 300%;
  transition: transform 0.4s ease;
  touch-action: pan-y;
}

.middle-slider-page {
  width: 100%;
  flex-shrink: 0;
}

.search-popup-text {
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.45rem;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.popup-text-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 6px 7.5px 6px;
}

.popup-text-header p {
  font-size: 0.45rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  color: var(--text-primary);
}

.popup-text-header-svg {
  width: 9.5px;
  height: 9.5px;
  display: block;
  cursor: pointer;
  color: var(--text-primary);
}

.search-popup-text .popup-text-contents-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.search-popup-text .popup-text-contents {
  display: flex;
  flex-direction: column;
  height: 46px;
  justify-content: space-between;
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.35rem;
  padding: 6px 5px 6px 5px;
}

.search-popup-text .popup-text-item-p {
  font-size: 0.47rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  color: var(--text-primary);
  opacity: 0.9;
  padding: 5px;
  padding-bottom: 0;
}

.search-popup-text .popup-text-sub {
  font-size: 0.45rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: var(--text-secondary);
}

/* Popup no body */
.popup-no-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  text-align: center;
  gap: 12px;
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.35rem;
  padding: 6px 5px 6px 5px;
}

.popup-no-icon img {
  width: 25px;
  height: 25px;
  display: block;
}

.popup-no-icon-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-secondary);
}

.popup-no-header {
  font-size: 0.47rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: var(--text-primary);
}

.popup-no-text {
  font-size: 0.45rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  width: 40%;
  line-height: 1.6;
  color: var(--text-secondary);
}

.popup-no-text span {
  color: var(--text-primary);
  opacity: 0.8;
  cursor: pointer;
}

.popup-no-clear button {
  all: unset;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  color: var(--text-primary);
  padding: 5px 10px 6px 10px;
  border-radius: 0.35rem;
  font-size: 0.42rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.popup-no-clear button:hover {
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
}

/* Theme toogle */
.theme-toggle {
  width: 19px;
  height: 19px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-slider {
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
}

.theme-slider.light {
  transform: translateY(9.5px);
}

.theme-slider.dark {
  transform: translateY(-9.5px);
}

.theme-icon {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-light-svg {
  width: 12px;
  height: 12px;
  display: block;
}

.theme-dark-svg {
  width: 9.5px;
  height: 9.5px;
  display: block;
}

.theme-light-svg path,
.theme-dark-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-primary);
}

/* Folder body */
.folder-body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 105px;
}

.folder-body-main {
  margin-top: 15px;
}

/* Folder body header */
.folder-body-header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -15px;
  margin-bottom: 10px;
}

/* Folder left - icon */
.folder-left .folder-icon {
  display: flex;
  align-items: center;
  padding: 4.5px 5px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.3rem;
}

.folder-icon .folder-icon-svg {
  width: 10px;
  height: 10px;
  color: var(--text-secondary);
}

.folder-icon .folder-icon-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-primary);
}

/* Folder right - grid */
.folder-right {
  position: relative;
}

.folder-right .folder-grid-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 22px;
  color: var(--text-primary);
  padding: 0px 1.5px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.3rem;
}

.folder-grid {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  padding: 5.5px;
  cursor: pointer;
  z-index: 2;
}

.folder-grid-name {
  position: relative;
  z-index: 2;
  font-size: 0.48rem;
  font-weight: 550;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

.folder-right .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.folder-right .slider .ball {
  position: absolute;
  bottom: 1px;
  height: 18px;
  transition: left 0.3s ease;
  z-index: 0;
  border: 0.5px solid var(--border-primary);
  border-radius: 0.25rem;
  background: var(--bg-secondary);
}

.folder-right .slider .ball.ball-list {
  width: 38px;
}

.folder-right .slider .ball.ball-layout {
  width: 50px;
}

.folder-right .slider .ball.ball-compact {
  width: 58px;
}

.folder-grid-svg {
  width: 8px;
  height: 8px;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.folder-grid-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-primary);
}

@media (max-width: 768px) {
  /* Folder header */
  .folder-header {
    width: 100vw;
    position: static;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .folder-left .folder-tag {
    font-size: 0.7rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Folder header */
  .folder-header {
    width: 78vw;
  }
}

@media (max-width: 1024px) {
  /* Folder header */
  .folder-header-wrapper {
    width: 60%;
  }

  /* Folder body */
  .folder-body-header {
    width: 93%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Folder header */
  .folder-header {
    width: 80vw;
  }
}
