/* Dashboard container */
.dashboard-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  height: auto;
  border-radius: 0.5rem;
}

/* Dashboard wrapper */
.dashboard-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Dashboard header */
.dashboard-header {
  position: fixed;
  z-index: 10;
  width: 85vw;
  padding-top: 20px;
}

.dashboard-header-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.6rem;
  padding: 4px 4.5px;
}

/* Dashboard logo */
.dashboard-logo {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  gap: 0.4rem;
  background: var(--bg-secondary);
  padding: 7px 12px;
  border-radius: 0.4rem;
  border: 0.5px solid var(--border-primary);
}

.dashboard-logo p {
  font-size: 0.56rem;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}

/* Dashboard icon */
.dashboard-icon {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 0.2rem;
  padding: 3px;
  background: var(--bg-secondary);
  border-radius: 0.4rem;
  border: 0.5px solid var(--border-primary);
}

.dashboard-icon > * {
  padding: 4.5px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.3rem;
  cursor: pointer;
}

.dashboard-icon > *:hover {
  background: var(--bg-secondary);
}

.theme-toggle {
  width: 19px;
  height: 19px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-slider {
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
}

.theme-slider.light {
  transform: translateY(9.5px);
}

.theme-slider.dark {
  transform: translateY(-9.5px);
}

.theme-icon {
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-light-svg {
  width: 12px;
  height: 12px;
  display: block;
}

.theme-dark-svg {
  width: 9.5px;
  height: 9.5px;
  display: block;
}

.theme-light-svg path,
.theme-dark-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-primary);
}

/* Dashboard body */
.dashboard-body {
  width: 100%;
  margin: 0 auto;
  margin-top: 90px;
}

.dashboard-main {
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-direction: column;
}

/* Dashboard top main */
.dashboard-top-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  letter-spacing: 0.6px;
}

.dashboard-top {
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  padding: 14px 12px 12px 15px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-top-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-top-header {
  font-size: 0.53rem;
  color: var(--text-secondary);
  font-weight: 550;
}

.dashboard-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.3rem;
  font-weight: 500;
}

.dashboard-figure {
  font-size: 1rem;
  color: var(--text-primary);
}

.dashboard-change {
  font-size: 0.5rem;
  color: var(--text-secondary);
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 2.5px 3px;
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.25rem;
}

.dashboard-change span {
  color: var(--text-primary);
}

.dashboard-top-right img {
  width: 30px;
  margin-bottom: 0;
}

.dashboard-middle {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-top: 15px;
}

.dashboard-tasks {
  flex: 1.4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  letter-spacing: 0.6px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.5rem;
  padding: 20px 15px 15px 15px;
}

.tasks-header,
.performance-header,
.projects-header {
  font-size: 0.65rem;
  color: var(--text-primary);
  font-weight: 550;
  margin-bottom: 15px;
}

.tasks-content-header ul,
.tasks-content-text ul {
  display: grid;
  grid-template-columns: 2fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tasks-content-header ul li p {
  font-size: 0.56rem;
  font-weight: 550;
  color: var(--text-secondary);
  margin-bottom: 12px;
}

.tasks-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.tasks-content-text ul {
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  padding: 10px;
  border-radius: 0.35rem;
}

.tasks-content-text ul li p {
  font-size: 0.55rem;
  font-weight: 550;
  color: var(--text-primary);
}

.tasks-content-text .tasks-date {
  font-size: 0.52rem;
}

.dashboard-performance {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  letter-spacing: 0.6px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.5rem;
  padding: 20px 15px 15px 15px;
  font-weight: 550;
}

.performance-text {
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
}

.performance-text-figure {
  font-size: 1.2rem;
  color: var(--text-primary);
}

.performance-text-span {
  font-size: 0.55rem;
  color: var(--text-secondary);
  margin-bottom: 3.5px;
}

.performance-text-span span {
  color: var(--text-primary);
}

.bar-chart {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 120px;
  gap: 10px;
  margin-top: 25px;
}

.bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-track {
  height: 115px;
  width: 40px;
  background-image: repeating-linear-gradient(
    135deg,
    var(--border-primary),
    var(--border-primary) 1px,
    transparent 1px,
    transparent 4px
  );
  border-radius: 0.35rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  position: relative;
  border: 0.5px solid var(--border-primary);
}

.bar-fill {
  width: 100%;
  background: var(--bg-secondary);
  border-radius: 0.35rem 0.35rem 0 0;
  transition: height 0.3s ease-in-out;
}

.bar-day {
  margin-top: 10px;
  font-size: 0.5rem;
  color: var(--text-secondary);
}

.dashboard-bottom {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-top: 15px;
}

.dashboard-projects {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  letter-spacing: 0.6px;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.5rem;
  padding: 20px 15px 15px 15px;
}

.projects-content-header ul,
.projects-content-text ul {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects-content-header ul li p {
  font-size: 0.56rem;
  font-weight: 550;
  color: var(--text-secondary);
  margin-bottom: 12px;
}

.projects-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.projects-content-text ul {
  background: var(--bg-secondary);
  border: 0.5px solid var(--border-primary);
  padding: 10px;
  border-radius: 0.35rem;
}

.projects-content-text ul li p {
  font-size: 0.55rem;
  font-weight: 550;
  color: var(--text-primary);
}

.projects-content-text .projects-status {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 4px 5px;
  font-size: 0.5rem;
  font-weight: 500;
  background: var(--bg-primary);
  border: 0.5px solid var(--border-primary);
  border-radius: 0.3rem;
}

.projects-content-text .projects-date {
  font-size: 0.52rem;
}

.projects-status-svg {
  width: 9px;
  height: 9px;
  display: block;
}

.projects-status-svg path {
  fill: var(--bg-secondary);
  stroke: var(--text-primary);
}
