/* Root variables */
:root {
  --color-background-primary: #161618;
  --color-background-secondary: #1f1f21;

  --color-text-primary: #efeff1;
  --color-text-secondary: #98989a;
  --color-text-accent: #68686a;

  --color-surface-primary: #232323;
  --color-surface-secondary: #2a2a2a;
  --color-surface-accent: #3a3a3a;

  --color-regular-primary: rgba(22, 22, 24, 0.6);
  --color-regular-secondary: rgba(23, 23, 25, 0.35);
  --color-regular-accent: rgba(255, 255, 255, 0.05);
  --color-regular-highlight: rgba(255, 255, 255, 0.015);

  --color-border-primary: rgba(255, 255, 255, 0.05);
  --color-border: #3b3b40;

  --color-overlay-primary: rgba(255, 255, 255, 0.3);
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base HTML & Body styles */
html,
body {
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Inter", sans-serif;
  background: var(--color-background-primary);
}

body::-webkit-scrollbar {
  width: 0.4vw;
  background: var(--color-background-secondary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 0.5rem;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-surface-accent);
}

body::-webkit-scrollbar-track {
  background: var(--color-background-secondary);
}

body::-webkit-scrollbar-track:hover {
  background: var(--color-background-secondary);
}

/* App container */
.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: var(--color-background-primary);
}

/* Side container */
.side {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--color-regular-primary);
  border-right: 0.5px solid var(--color-border);
}

.side-header {
  width: 100%;
  margin: 0 auto;
}

.side-header-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.side-logo img {
  width: 30px;
  display: block;
}

.side-bar-max-svg {
  width: 14px;
  height: 14px;
  display: block;
  color: var(--color-text-secondary);
}

.side-user-max-svg {
  display: none;
}

.side-body-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.side-body-wrapper {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  margin: 0 auto;
  padding: 20px 12px 20px 12px;
  color: var(--color-text-secondary);
}

.side-body-wrapper::-webkit-scrollbar {
  display: none;
}

.side-body ul {
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.side-body > ul > li {
  margin-bottom: 20px;
  font-size: 0.58rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  margin-left: 8px;
  transition: margin 0.3s ease, padding 0.3s ease;
}

.side-body > ul > li.active {
  color: var(--color-text-primary);
  font-size: 0.55rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 7px;
  margin-left: 0;
  margin-bottom: 14px;
  margin-top: -5.5px;
  background: var(--color-background-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.35rem;
}

.side-body-svg {
  margin-right: 0.25rem;
  width: 12px;
  height: 12px;
  display: block;
}

.side-submenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.side-submenu li {
  cursor: pointer;
  margin-left: 20px;
}

.side-submenu .side-body-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.55rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  color: var(--color-text-secondary);
  opacity: 0.9;
}

.side-submenu li.active .side-body-item {
  color: var(--color-text-primary);
}

.side-submenu li:last-child {
  margin-bottom: 20px;
}

.side-body-figure,
.side-submenu-figure {
  margin-left: auto;
  background: var(--color-background-secondary);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.side-body-figure p,
.side-submenu-figure p {
  font-size: 0.4rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  padding: 1.5px;
  margin: 0;
}

.side-body ul li.active .side-body-figure {
  display: none;
}

.side-body ul li.active .side-submenu-figure {
  color: var(--color-text-secondary);
}

.side-user {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px 0 12px;
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  background: var(--color-background-primary);
}

.side-plan-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 10px;
  gap: 12px;
  background: var(--color-regular-highlight);
  border: 1px solid var(--color-border-primary);
  border-radius: 0.4rem;
  letter-spacing: 0.6px;
  color: var(--color-text-primary);
}

.side-plan-text {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: var(--color-background-secondary);
  border: 0.5px solid var(--color-border-primary);
  border-radius: 0.35rem;
  padding: 7px;
}

.side-plan-text p {
  font-size: 0.5rem;
  font-weight: 500;
}

.side-plan-text-svg {
  width: 10px;
  height: 10px;
  display: block;
}

.side-plan-bar {
  display: flex;
  gap: 3px;
  height: 15px;
  width: 100%;
  background: transparent;
}

.side-plan-bar-box {
  flex: 1;
  height: 100%;
  border-radius: 0.1rem;
  background-color: var(--color-background-secondary);
  transition: background-color 0.3s ease;
}

.side-plan-bar-box.filled {
  background-color: var(--color-surface-accent);
}

/* Main container */
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  height: 100vh;
  padding: 0 0 35px 0;
  margin-right: -5px;
  margin-left: 15%;
  background: var(--color-regular-primary);
}

@media (max-width: 480px) {
  /* Side container */
  .side-body ul {
    gap: 15px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Side container */
  .side-body ul {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    height: auto;
  }

  /* Side container */
  .side {
    position: static;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 20px 0;
    border-bottom: 0.5px solid var(--color-border);
  }

  .side-header {
    margin-bottom: 0;
  }

  .side-header-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .side-logo img {
    width: 35px;
  }

  .side-user-max-svg {
    width: 16px;
    height: 16px;
    display: block;
    color: var(--color-text-primary);
  }

  .side-body-wrapper {
    overflow-x: auto;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .side-body ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  .side-body ul li {
    margin-bottom: 0;
  }

  .side-body-svg {
    margin-right: 0.1rem;
  }

  .side-body span {
    font-size: 0.65rem;
  }

  .side-active-arrow {
    display: none;
  }

  .side-body ul li.active span {
    display: inline;
  }

  .side-user {
    display: none;
  }

  /* Main container */
  .main {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  /* Side container */
  .side-user-wrapper {
    width: 85%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Side container */
  .side {
    width: 20%;
  }

  /* Main container */
  .main {
    width: calc(100% - 20%);
    margin-left: 20%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Side container */
  .side {
    width: 17%;
  }

  /* Main container */
  .main {
    width: calc(100% - 17%);
    margin-left: 17%;
  }
}
